<div class="container-fluid">
  <h3 class="text-end">Welcome {{userDetails.firstName | titlecase}} !</h3>
  <h5 class="text-end">{{teacherData.teacherType |uppercase}}</h5>
  <div class="row">
    <div class="col col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 >Employee Details</h5>
          <div class="text-right">
            <button type="button" class="btn btn-primary  float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Edit  <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item" [className]="personalDetails ? 'active':' '">
<!--                <a class="nav-link active" aria-current="page" href="#">Active</a>-->
                <a class="nav-link"  data-bs-toggle="collapse" href="#personaldetails" role="button" aria-expanded="false" (click)="checkVisited('personaldetails')" aria-controls="personaldetails">
                  Personal Details
                </a>
              </li>
              <li class="nav-item" [className]="teacherDetails ? 'active':' '">
                <a class="nav-link "  data-bs-toggle="collapse" href="#teacherdetails" role="button" aria-expanded="false" (click)="checkVisited('teacherdetails')" aria-controls="teacherdetails">
                  Work Experience
                </a>
              </li>
            </ul>
          </div>
<!--          personal details start-->
          <div  [className]="personalDetails ? 'collapse show':'collapse'" id="personaldetails">
            <div class="card card-body">
              <div class="row">
                <div class="col-4">
                  <img id="profilepic" src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" class="rounded float-left" alt="...">
                </div>
                <div class="col-8">
                  <div class="row">
                    <div>
                      Name : {{userDetails.salutation | uppercase}}. {{userDetails.firstName | uppercase}} {{userDetails.middleName |uppercase}} {{userDetails.lastName |uppercase}}
                      <hr>
                      Gender : {{userDetails.gender | uppercase}}
                      <hr>
                      Marital Status : {{userDetails.maritalStatus | uppercase}}
                      <hr>
                      NIC : {{userDetails.nic | uppercase}}
                      <hr>
                      Address : {{userDetails.addressNo}} {{userDetails.addressStreet1}} {{userDetails.addressStreet2}} {{userDetails.city}}
                      <hr>
                      Contact Number 01 : {{userDetails.contactNumber1}}
                      <hr>
                      Contact Number 02 : {{userDetails.contactNumber2}}
                      <hr>
                      Email : {{userDetails.email}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--          personal details end-->
<!--          Work Experience start-->
          <div  [className]="teacherDetails ? 'collapse show':'collapse'" id="teacherdetails">
            <div class="card card-body">
              <h5 class="card-title">Current Work Place</h5>
                      School : {{teacherData.schoolName |uppercase }}
                      <hr>
                      School Type : {{teacherData.schoolType |uppercase}}
                      <hr>
                      Appointment Date : {{teacherData.appointmentDate | date}}
                      <hr>

              Subjects : <span *ngFor="let subject of teacherSubjects ">{{subject | uppercase}}</span>

            </div>
            <br>
            <div class="card card-body">
              <h5 class="card-title">Work History</h5>

              <table class="table">
                <thead>
                <th>School Name</th>
                <th>School Type</th>
                <th>Zonal</th>
                <th>From</th>
                <th>To</th>
                </thead>
                <tbody>
                  <tr *ngFor="let exp of teacherExperienceDataArray">
                    <td>{{exp.schoolName |uppercase}}</td>
                    <td>{{exp.schoolType |uppercase}}</td>
                    <td>{{exp.zonalName |uppercase}}</td>
                    <td>{{exp.appointmentDate | date}}</td>
                    <td>{{exp.appointmentEndDate |date}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
<!--          Work Experience End-->
      </div>
    </div>
    </div>
    <div class="col col-md-4">
      <div class="card clearfix">
        <div class="card-header clearfix">
          <h5 >Request Details</h5>
          <div class="text-right">
            <button class="btn btn-success float-end">New Request  <i class="bi bi-plus-square"></i></button>
          </div>
        </div>

        <div class="card-body">
          No Request Pending
        </div>
      </div>
    </div>
  </div>

<!--  Principle Area start-->

  <div *ngIf="(teacherData.teacherType|uppercase) == 'PRINCIPAL'">
    <div class="row">
      <div class="card">
        <h5 class="card-header">Staff Details</h5>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <div class="card">
              <h5 class="card-title">All Staff</h5>
              <table class="table">
                <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Appointed Date</th>
                <th>Subject</th>
                </thead>
                <tbody>
                <tr *ngFor="let all of allTeacherDataArray">
                  <td>{{all.name |uppercase}}</td>
                  <td>{{all.email |uppercase}}</td>
                  <td>{{all.contactNumber}}</td>
                  <td>{{all.appointmentDate | date}}</td>
                  <td>
                    <div *ngFor="let subject of allTeacherSubjectArray">
                      <span *ngIf="subject.teacherId == all.teacherid">
                        {{subject.subject}}
                      </span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
              <h5 class="card-title">School Carder</h5>
              <table class="table">
                <thead>
                <th>Subject</th>
                <th>Limitation</th>
                <th>Current</th>
                </thead>
                <tbody>
                <tr *ngFor="let carder of schoolCarderDataArray">
                  <td>{{carder.subject |uppercase}}</td>
                  <td>{{carder.limitation}}</td>
                  <td>{{carder.current}}</td>
                </tr>
                </tbody>
              </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!--  Principle Area end-->

<!--  User Data Edit Modal start-->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update User Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
          <div class="modal-body">

              <div class="row">
                <div class="col-md-3">
                  <label for="salutation" class="form-label">Salutation</label>
                  <select class="form-select" id="salutation" >
                    <option>Choose...</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Miss</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input  type="text" class="form-control" name="firstName"   id="firstName" value="{{userDetails.firstName | titlecase}}"/>
                </div>
                <div class="col-md-3">
                  <label for="middleName" class="form-label">Middle Name</label>
                  <input  type="text" class="form-control" id="middleName"  value="{{userDetails.middleName | titlecase}}" />
                </div>
                <div class="col-md-3">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input  type="text" class="form-control" id="lastName"  value="{{userDetails.lastName | titlecase}}" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <label for="addressNo" class="form-label">Address No</label>
                  <input  type="text" class="form-control" id="addressNo"   value="{{userDetails.addressNo | titlecase}}" />
                </div>
                <div class="col-md-3">
                  <label for="addressStreet1" class="form-label">Street 1</label>
                  <input  type="text" class="form-control" id="addressStreet1"  value="{{userDetails.addressStreet1 | titlecase}}" />
                </div>
                <div class="col-md-3">
                  <label for="addressStreet2" class="form-label">Street 2</label>
                  <input  type="text" class="form-control" id="addressStreet2"  value="{{userDetails.addressStreet2 | titlecase}}" />
                </div>
                <div class="col-md-3">
                  <label for="city" class="form-label">City</label>
                  <select class="form-select" id="City" >
                    <option>Choose...</option>
                    <option>Colombo</option>
                    <option>Galle</option>
                    <option>Kandy</option>
                  </select>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <label for="contactNumber1" class="form-label">Contact Number 1</label>
                  <input  type="tel" class="form-control" id="contactNumber1"  value="{{userDetails.contactNumber1 }}" />
                </div>
                <div class="col-md-3">
                  <label for="contactNumber2" class="form-label">Contact Number 2</label>
                  <input  type="tel" class="form-control" id="contactNumber2"  value="{{userDetails.contactNumber2 }}" />
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <input  type="email" class="form-control" id="email"  value="{{userDetails.email }}" />
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3">
                  <label for="gender" class="form-label">Gender</label>
                  <select class="form-select" id="gender" >
                    <option >Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="maritalStatus" class="form-label">Marital Status</label>
                  <select class="form-select" id="maritalStatus" >
                    <option >Choose...</option>
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                  </select>
                </div>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Request</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--  User Data Edit Modal End-->


</div>
