<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Resource Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="userLogOut" class="nav-item">
          <a class="btn btn-outline-primary my-2 my-sm-0" href="/login" >Login</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="teacherData.teacherType== 'principal' && userLogedIn">
        <li class="nav-item">
          <a class="nav-link" href="#">School Details</a>
        </li>
        <li *ngIf="userLogedIn" class="nav-item">
          <a class="btn btn-outline-primary my-2 my-sm-0" (click)="logout()" >Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="teacherData.teacherType != 'principal' && userLogedIn">

        <li *ngIf="userLogedIn" class="nav-item">
          <a class="btn btn-outline-primary my-2 my-sm-0" (click)="logout()" >Logout</a>
        </li>
      </ul>

    </div>
  </nav>


</div>
