
<div class="container mt-5 p-4 user-form" selenium-Id="user-registration">
  <h4 class="text-left mb-4">User Registration</h4>
  <form #addUser="ngForm" (ngSubmit)="submitUser(addUser.value)" class="row g-3">
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Salutation <span class="required">*</span></label>
      <select class="form-select user-form__input" ngModel="{{userDetails.salutationId}}" name="salutationId">
        <option value="0">Choose...</option>
        <option value="1">Mr</option>
        <option value="3">Mrs</option>
        <option value="2">Miss</option>
      </select>
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">First Name <span class="required">*</span></label>
         <input type="text" class="form-control user-form__input" ngModel="{{userDetails.firstName}}" name="firstName" >
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Middle Name</label>
        <input type="text" class="form-control user-form__input" ngModel="{{userDetails.middleName}}" name="middleName" >
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Last Name<span class="required">*</span></label>
        <input type="text" class="form-control user-form__input" ngModel="{{userDetails.lastName}}" name="lastName">
            
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Address No</label>
        <input type="text" class="form-control user-form__input" ngModel="{{userDetails.addressNo}}" name="addressNo" >
        
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Street 01</label>
        <input type="text" class="form-control user-form__input" ngModel="{{userDetails.addressStreet1}}" name="addressStreet1" >
            
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Street 02</label>
        <input type="text" class="form-control user-form__input" ngModel="{{userDetails.addressStreet2}}" name="addressStreet2" >
           
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">City <span class="required">*</span></label>
        <ng-select ngModel="{{userDetails.cityId}}" name="cityId" required>
          <ng-option *ngFor="let c of cityList" [value]="c.id">{{c.name | titlecase}}</ng-option>
        </ng-select>
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Contact No 01</label>
      <input type="text" class="form-control user-form__input" ngModel="{{userDetails.contactNumber1}}" name="contactNumber1" >
      
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Contact No 02</label>
      <input type="text" class="form-control user-form__input" ngModel="{{userDetails.contactNumber2}}" name="contactNumber2" >
      
    </div>
    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">NIC <span class="required">*</span></label>
      <input type="text" class="form-control user-form__input" ngModel="{{userDetails.nic}}" name="nic" required>
      
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label user-form__label">Email <span class="required">*</span></label>
      <input type="email" class="form-control user-form__input" ngModel="{{userDetails.email}}" name="email" required>
      
    </div>

    <div class="col-md-6 mt-4">
      <label  class="form-label user-form__label">User Type <span class="required">*</span></label>
      <ng-select ngModel="{{userDetails.userTypeId}}" name="userTypeId" required>
        <ng-option *ngFor="let u of userTypeList" [value]="u.id">{{u.name | titlecase}}</ng-option>
      </ng-select>
    </div>
    <div class="col-md-6 mt-4">
      <label  class="form-label user-form__label">Status <span class="required">*</span></label>
      <ng-select ngModel="{{userDetails.statusId}}" name="statusId" required>
        <ng-option *ngFor="let s of statusList" [value]="s.id">{{s.name | titlecase}}</ng-option>
      </ng-select>
    </div>
    <div class="col-md-6 mt-4">
      <label  class="form-label user-form__label">Gender <span class="required">*</span></label>
      <select class="form-select user-form__input" ngModel="{{userDetails.genderId}}" name="genderId" >
        <option >Choose...</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>
    <div class="col-md-6 mt-4">
      <label  class="form-label user-form__label">Marital Status <span class="required">*</span></label>
      <select class="form-select user-form__input" ngModel="{{userDetails.maritalStatusId}}" name="maritalStatusId" >
        <option >Choose...</option>
        <option value="1">Single</option>
        <option value="2">Married</option>
      </select>
    </div>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary ms-2">Cancel</button>
    </div>
  </form>
</div>



