
<main class="form-change-password" selenium-Id="change-password-page">

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" >
      <h1 class="h3 mb-3 fw-normal">Change Password</h1>
  
      <div class="form-floating">
        <input  formControlName="password1" type="password" class="form-control" id="password1" placeholder="Enter Password">
        <label for="password1">New Password</label>
        <div class="invalid-feedback"
             *ngIf="(isFormSubmit && changePasswordForm.controls.password1.errors) ||
             (!changePasswordForm.controls.password1.pristine && changePasswordForm.controls.password1.invalid)">
          <div *ngIf="changePasswordForm.controls.password1.errors?.required">Password is required</div>
        </div>
      </div>
      <br>
      <div class="form-floating">
        <input  formControlName="password2" type="password" class="form-control" id="password2" placeholder="Re-Enter Password">
        <label for="password2">Re-enter Password</label>
        <div class="invalid-feedback"
             *ngIf="(isFormSubmit && changePasswordForm.controls.password2.errors) ||
             (!changePasswordForm.controls.password2.pristine && changePasswordForm.controls.password2.invalid)">
          <div *ngIf="changePasswordForm.controls.password2.errors?.required">Password is required</div>
        </div>
      </div>
      <br>


    <br>
      <div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
      </div>
  
    </form>
  
  </main>
  
