
<div class="container mt-5 p-4 teacher-form">
  <h4 class="text-left mb-4">Teacher Registration</h4>
  <form #registerForm="ngForm" (ngSubmit)="submitTeacher(registerForm.value)" class="row g-3">

    <div class="col-md-6 mt-4">
      <label class="form-label teacher-form__label">User NIC</label>
<!--      <input type="text" class="form-control teacher-form__input">-->
      <input type="text" ngModel="{{register.userNic}}" id="userNic" name="userNic" class="form-control teacher-form__input"  placeholder="Enter User NIC here"/>

    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label teacher-form__label">School Name</label>
      <ng-select ngModel="{{register.schoolId}}" name ="schoolId" required >
        <ng-option *ngFor="let s of schoolList" [value]="s.id">{{s.name | titlecase}}</ng-option>
      </ng-select>
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label teacher-form__label">Appointment Date</label>
      <input type="date" ngModel="{{register.appointmentDate}}" id="appointmentDate" name="appointmentDate" class="form-control teacher-form__input">
    </div>

    <div class="col-md-6 mt-4">
      <label class="form-label teacher-form__label">Teacher Type</label>
      <select class="form-select teacher-form__input" id="teacherTypeId" name="teacherTypeId" 
      ngModel="{{register.teacherTypeId}}">
        <option value="3">Teacher-Provincial</option>
        <option value="2">Teacher-Combine</option>
        <option value="1">Principal</option>
      </select>
    </div>

    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="reset" class="btn btn-secondary ms-2">Cancel</button>
    </div>

  </form>
</div>



