.teacher-form{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff !important;
}

.teacher-form__label{
  font-weight: 600;
  font-size: 15px;
}
.teacher-form__input{
  box-shadow: none !important;
}
.table{
  margin-left:1%;
  margin-top:1%;
}

.table-btn{
  display: flex;
  float: right;
}