/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*TODO check if the global css is OK with this*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
  background-color: #f5f5f5 !important;
}
